<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098795874442-rn8rnu1m8bnu32q0keilu5kg2bn46lp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098795874442-rn8rnu1m8bnu32q0keilu5kg2bn46lp4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1098795874442-okm7a4foqr36gm1ass4i8hmiuqe032i4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdbDDb3Gm8yds9LVTL7oeE9_j3CmU3hYc</string>
	<key>GCM_SENDER_ID</key>
	<string>1098795874442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darulasar.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-95cbd</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-95cbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098795874442:ios:b2cf43a8ebe4fb41fc1573</string>
</dict>
</plist>